.container.main_content
  %h2
    Schools
  .container.bordered
    .navbar
      .navbar-inner
        %ul.nav
          %li
            = link_to 'Schools', 'index.html'
          %li
            = link_to 'Imports', 'imports.html'
    .container-inner
      %form.navbar-search.pull-left
        %input.search-query{ :placeholder => "Search by school name or tag"}
      = link_to 'Add School', 'school.html', :class => 'btn btn-small pull-right'
      .schools.row-fluid
        .span6.school
          .content
            %h5 UCLA
            = link_to 'Login >', 'login.html', :class => 'login_link'
            .actions
              = link_to 'Settings', 'school_settings.html', :class => 'btn btn'
              = link_to 'Groups', 'school_settings.html', :class => 'btn btn'
              = link_to 'Imports', 'school_settings.html', :class => 'btn btn'
              = link_to 'SMS', 'school_settings.html', :class => 'btn btn'
              = link_to 'Admins', 'school_settings.html', :class => 'btn btn'
            .tags
              %span tagged:
              = link_to 'jade', '#'
              = link_to 'athletics', '#'
              %a{ :href => '#'}
                [+]
        .span6.school
          .content
            %h5 MTSU
            = link_to 'Login >', 'login.html', :class => 'login_link'
            .actions
              = link_to 'Settings', 'school_settings.html', :class => 'btn btn'
              = link_to 'Groups', 'school_settings.html', :class => 'btn btn'
              = link_to 'Imports', 'school_settings.html', :class => 'btn btn'
              = link_to 'SMS', 'school_settings.html', :class => 'btn btn'
              = link_to 'Admins', 'school_settings.html', :class => 'btn btn'
            .tags
              %span tagged:
              = link_to 'amber', '#'
              = link_to 'athletics', '#'
              = link_to 'grumpy', '#'
              %a{ :href => '#'}
                [+]
      .row-fluid
        .span6.school
          .content
            %h5 Auburn
            = link_to 'Login >', 'login.html', :class => 'login_link'
            .actions
              = link_to 'Settings', 'school_settings.html', :class => 'btn btn'
              = link_to 'Groups', 'school_settings.html', :class => 'btn btn'
              = link_to 'Imports', 'school_settings.html', :class => 'btn btn'
              = link_to 'SMS', 'school_settings.html', :class => 'btn btn'
              = link_to 'Admins', 'school_settings.html', :class => 'btn btn'
            .tags
              %span tagged:
              = link_to 'amber', '#'
              = link_to 'athletics', '#'
              = link_to 'grumpy', '#'
              %a{ :href => '#'}
                [+]
        .span6.school
          .content
            %h5 Alabama
            = link_to 'Login >', 'login.html', :class => 'login_link'
            .actions
              = link_to 'Settings', 'school_settings.html', :class => 'btn btn'
              = link_to 'Groups', 'school_settings.html', :class => 'btn btn'
              = link_to 'Imports', 'school_settings.html', :class => 'btn btn'
              = link_to 'SMS', 'school_settings.html', :class => 'btn btn'
              = link_to 'Admins', 'school_settings.html', :class => 'btn btn'
            .tags
              %span tagged:
              = link_to 'amber', '#'
              = link_to 'athletics', '#'
              = link_to 'grumpy', '#'
              %a{ :href => '#'}
                [+]          
      .row-fluid
        .span6.school
          .content
            %h5 TCU
            = link_to 'Login >', 'login.html', :class => 'login_link'
            .actions
              = link_to 'Settings', 'school_settings.html', :class => 'btn btn'
              = link_to 'Groups', 'school_settings.html', :class => 'btn btn'
              = link_to 'Imports', 'school_settings.html', :class => 'btn btn'
              = link_to 'SMS', 'school_settings.html', :class => 'btn btn'
              = link_to 'Admins', 'school_settings.html', :class => 'btn btn'
            .tags
              %span tagged:
              = link_to 'amber', '#'
              = link_to 'athletics', '#'
              = link_to 'grumpy', '#'
              %a{ :href => '#'}
                [+]
        .span6.school
          .content
            %h5 Samford
            = link_to 'Login >', 'login.html', :class => 'login_link'
            .actions
              = link_to 'Settings', 'school_settings.html', :class => 'btn btn'
              = link_to 'Groups', 'school_settings.html', :class => 'btn btn'
              = link_to 'Imports', 'school_settings.html', :class => 'btn btn'
              = link_to 'SMS', 'school_settings.html', :class => 'btn btn'
              = link_to 'Admins', 'school_settings.html', :class => 'btn btn'
            .tags
              %span tagged:
              = link_to 'amber', '#'
              = link_to 'athletics', '#'
              = link_to 'grumpy', '#'
              %a{ :href => '#'}
                [+]
      .row-fluid
        .span6.school
          .content
            %h5 Texas Tech
            = link_to 'Login >', 'login.html', :class => 'login_link'
            .actions
              = link_to 'Settings', 'school_settings.html', :class => 'btn btn'
              = link_to 'Groups', 'school_settings.html', :class => 'btn btn'
              = link_to 'Imports', 'school_settings.html', :class => 'btn btn'
              = link_to 'SMS', 'school_settings.html', :class => 'btn btn'
              = link_to 'Admins', 'school_settings.html', :class => 'btn btn'
            .tags
              %span tagged:
              = link_to 'amber', '#'
              = link_to 'athletics', '#'
              = link_to 'grumpy', '#'
              %a{ :href => '#'}
                [+]
        .span6.school
          .content
            %h5 University of Tennessee
            = link_to 'Login >', 'login.html', :class => 'login_link'
            .actions
              = link_to 'Settings', 'school_settings.html', :class => 'btn btn'
              = link_to 'Groups', 'school_settings.html', :class => 'btn btn'
              = link_to 'Imports', 'school_settings.html', :class => 'btn btn'
              = link_to 'SMS', 'school_settings.html', :class => 'btn btn'
              = link_to 'Admins', 'school_settings.html', :class => 'btn btn'
            .tags
              %span tagged:
              = link_to 'amber', '#'
              = link_to 'athletics', '#'
              = link_to 'grumpy', '#'
              %a{ :href => '#'}
                [+]
      .row-fluid
        .span6.school
          .content
            %h5 SIUE
            = link_to 'Login >', 'login.html', :class => 'login_link'
            .actions
              = link_to 'Settings', 'school_settings.html', :class => 'btn btn'
              = link_to 'Groups', 'school_settings.html', :class => 'btn btn'
              = link_to 'Imports', 'school_settings.html', :class => 'btn btn'
              = link_to 'SMS', 'school_settings.html', :class => 'btn btn'
              = link_to 'Admins', 'school_settings.html', :class => 'btn btn'
            .tags
              %span tagged:
              = link_to 'amber', '#'
              = link_to 'athletics', '#'
              = link_to 'grumpy', '#'
              %a{ :href => '#'}
                [+]
        .span6.school
          .content
            %h5 University of Georgia
            = link_to 'Login >', 'login.html', :class => 'login_link'
            .actions
              = link_to 'Settings', 'school_settings.html', :class => 'btn btn'
              = link_to 'Groups', 'school_settings.html', :class => 'btn btn'
              = link_to 'Imports', 'school_settings.html', :class => 'btn btn'
              = link_to 'SMS', 'school_settings.html', :class => 'btn btn'
              = link_to 'Admins', 'school_settings.html', :class => 'btn btn'
            .tags
              %span tagged:
              = link_to 'amber', '#'
              = link_to 'athletics', '#'
              = link_to 'grumpy', '#'
              %a{ :href => '#'}
                [+]
      .row-fluid
        .span6.school
          .content
            %h5 Ohio State
            = link_to 'Login >', 'login.html', :class => 'login_link'
            .actions
              = link_to 'Settings', 'school_settings.html', :class => 'btn btn'
              = link_to 'Groups', 'school_settings.html', :class => 'btn btn'
              = link_to 'Imports', 'school_settings.html', :class => 'btn btn'
              = link_to 'SMS', 'school_settings.html', :class => 'btn btn'
              = link_to 'Admins', 'school_settings.html', :class => 'btn btn'
            .tags
              %span tagged:
              = link_to 'amber', '#'
              = link_to 'athletics', '#'
              = link_to 'grumpy', '#'
              %a{ :href => '#'}
                [+]
        .span6.school
          .content
            %h5 Arkansas
            = link_to 'Login >', 'login.html', :class => 'login_link'
            .actions
              = link_to 'Settings', 'school_settings.html', :class => 'btn btn'
              = link_to 'Groups', 'school_settings.html', :class => 'btn btn'
              = link_to 'Imports', 'school_settings.html', :class => 'btn btn'
              = link_to 'SMS', 'school_settings.html', :class => 'btn btn'
              = link_to 'Admins', 'school_settings.html', :class => 'btn btn'
            .tags
              %span tagged:
              = link_to 'amber', '#'
              = link_to 'athletics', '#'
              = link_to 'grumpy', '#'
              %a{ :href => '#'}
                [+]
      .row-fluid
        .span6.school
          .content
            %h5 SIU Carbondale
            = link_to 'Login >', 'login.html', :class => 'login_link'
            .actions
              = link_to 'Settings', 'school_settings.html', :class => 'btn btn'
              = link_to 'Groups', 'school_settings.html', :class => 'btn btn'
              = link_to 'Imports', 'school_settings.html', :class => 'btn btn'
              = link_to 'SMS', 'school_settings.html', :class => 'btn btn'
              = link_to 'Admins', 'school_settings.html', :class => 'btn btn'
            .tags
              %span tagged:
              = link_to 'amber', '#'
              = link_to 'athletics', '#'
              = link_to 'grumpy', '#'
              %a{ :href => '#'}
                [+]
        .span6.school
          .content
            %h5 Texas State
            = link_to 'Login >', 'login.html', :class => 'login_link'
            .actions
              = link_to 'Settings', 'school_settings.html', :class => 'btn btn'
              = link_to 'Groups', 'school_settings.html', :class => 'btn btn'
              = link_to 'Imports', 'school_settings.html', :class => 'btn btn'
              = link_to 'SMS', 'school_settings.html', :class => 'btn btn'
              = link_to 'Admins', 'school_settings.html', :class => 'btn btn'
            .tags
              %span tagged:
              = link_to 'amber', '#'
              = link_to 'athletics', '#'
              = link_to 'grumpy', '#'
              %a{ :href => '#'}
                [+]