.container-fluid.main_content
  %h2
    Add New School
  .row-fluid
    .span2
      .affix
        %ul.nav.nav-list.bs-docs-sidenav#sidebar
          %li
            = link_to 'Basics', '#'
          %li
            = link_to 'Branding', '#basics'        
          %li
            = link_to 'SAML', '#branding'
          %li
            = link_to 'Conversations', '#saml'
          %li
            = link_to 'Modules', '#conversations'
          %li
            = link_to 'User Settings', '#modules'
          %li
            = link_to 'SSO', '#user_settings'
          %li
            = link_to 'Groups', '#sso'
        = link_to 'Save Changes', '#', :class => 'btn btn-large'

    .span10
      .bordered
        .navbar
          .navbar-inner
            %ul.nav
              %li
                = link_to 'Schools', 'index.html'
              %li
                = link_to 'Imports', 'imports.html'
        .container-inner.save
          #basics
            %h3 School Basics
            %form
              .form_row.row-fluid
                .span6
                  %label School Name
                  %input
                .span6
                  %label School URL
                  %input
              .form_row.row-fluid
                .span6
                  %label SAML
                  %input
                .span6
                  %label Name of Something
                  %input
          #branding
            %h3 School Branding
            %form
              .form_row.row-fluid
                .span6
                  %label School Name
                  %input
                .span6
                  %label School URL
                  %input
              .form_row.row-fluid
                .span6
                  %label SAML
                  %input
                .span6
                  %label Name of Something
                  %input
          #saml
            %h3 SAML 
            %form
              .form_row.row-fluid
                .span6
                  %label School Name
                  %input
                .span6
                  %label School URL
                  %input
              .form_row.row-fluid
                .span6
                  %label SAML
                  %input
                .span6
                  %label Name of Something
                  %input
          #conversations
            %h3 Conversations
            %form
              .form_row.row-fluid
                .span6
                  %label School Name
                  %input
                .span6
                  %label School URL
                  %input
              .form_row.row-fluid
                .span6
                  %label SAML
                  %input
                .span6
                  %label Name of Something
                  %input
          #modules
            %h3 Modules
            %form
              .form_row.row-fluid
                .span6
                  %label School Name
                  %input
                .span6
                  %label School URL
                  %input
              .form_row.row-fluid
                .span6
                  %label SAML
                  %input
                .span6
                  %label Name of Something
                  %input
          #user_settings
            %h3 User Settings
            %form
              .form_row.row-fluid
                .span6
                  %label School Name
                  %input
                .span6
                  %label School URL
                  %input
              .form_row.row-fluid
                .span6
                  %label SAML
                  %input
                .span6
                  %label Name of Something
                  %input
          #sso
            %h3 Single Sign On
            %form
              .form_row.row-fluid
                .span6
                  %label School Name
                  %input
                .span6
                  %label School URL
                  %input
              .form_row.row-fluid
                .span6
                  %label SAML
                  %input
                .span6
                  %label Name of Something
                  %input
          #groups
            %h3 School Groups
            %form
              .form_row.row-fluid
                .span6
                  %label School Name
                  %input
                .span6
                  %label School URL
                  %input
              .form_row.row-fluid
                .span6
                  %label SAML
                  %input
                .span6
                  %label Name of Something
                  %input


